#gtags
GPATH
GRTAGS
GTAGS
# CODE BLOCKS
*.cbp
*.depend
*.layout
src/database/batajelo.conf
src/database/bin
src/database/obj
# DLL
src/database/libmysql.dll
# CONF
src/batajelo.conf
# DOXYGEN
doxygen/Doxyfile
# emacs
*~
# g++
*.o
*.a
#CMAKE
CMakeCache.txt
*.vcxproj*
*.sln
*.suo
*.sdf
*.dir
*.cmake
*~
bin
CMakeFiles
output_lib
Win32

