#gtags
GPATH
GRTAGS
GTAGS
# CODE BLOCKS
*.cbp
*.depend
*.layout
src/database/bin
src/database/obj
# DLL
src/database/libmysql.dll
# CONF
src/batajelo.conf
# DOXYGEN
doxygen/Doxyfile
# emacs
*~
# g++
*.o
*.a